body {
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
  background-image: url('bg.jpg')
}

h1 {
  text-align: center;
}


.container {
  background: #ffffff;
  margin-top: 3%;
  padding: 2%;
}
